[user]
  email  = melker.annat@gmail.com
  name   = Melker Osterberg
[alias]
  co     = checkout
  s      = status
  p      = pull
  c      = commit
  cm     = commit -m
  cam    = commit -am
  l      = log --decorate
  w      = whatchanged
  d      = diff
[core]
  editor = vim
[github]
  user   = Melkster
[color]
  ui = true
[alias]
  plog = log --pretty=format:'%Cred%h%Creset %s -%C(yellow)%d%Creset %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  subupd = submodule update --recursive --init
