" Plugins
set surround
set commentary
set argtextobj
set textobj-entire
set highlightedyank
set textobj-indent
set matchit
set quickscope
set NERDTree

" Options
set showmode
set scrolloff=10
set number relativenumber
set incsearch
set ignorecase
set smartcase

" Mappings
let mapleader = "\<Space>"
nmap cy "+y
nmap cY "+Y
xmap Y  "+y
xmap P  "+p
nmap cp "+p
nmap cP "+P
nmap <C-j> o<Esc>
map! <M-j> <Down>
map! <M-k> <Up>
map <C-w><C-v> <C-w>v
map <C-w><C-c> <C-w>c
map <C-w><C-c> <C-w>c

" JetBrains specific
map <leader>dc <Action>(Debug)
map <leader>dq <Action>(Stop)
map ]e         <Action>(GotoNextError)
map [e         <Action>(GotoPreviousError)
map gh         <Action>(ShowHoverInfo)
map gr         <Action>(ShowUsages)
map <leader>r  <Action>(RenameElement)
map <M-w>      <Action>(CloseContent)
map <C-+>      <Action>(EditorIncreaseFontSize)
map <C-->      <Action>(EditorDecreaseFontSize)
map <C-p>      <Action>(GotoFile)
map <leader>a  <Action>(ShowIntentionActions)
map gi         <Action>(GotoImplementation)
map <leader>tr <Action>(RerunTest)
map <leader>tR <Action>(ShowRecentTests)
map <leader>ts <Action>(GotoSymbol)
map <leader>/  <Action>(SearchEverywhere)
map <leader>f  <Action>(Find)
map <M-l>      <Action>(NextTab)
map <M-h>      <Action>(PreviousTab)
map <C-w>gd    <C-w>v<Action>(GotoDeclaration)
map gD         <Action>(GotoTypeDeclaration)
map <C-s>      <Action>(SaveAll)
map <C-s>      <Action>(SaveAll)
map <leader>bo <Action>(CloseAllEditorsButActive)
map <F11>      <Action>(ToggleFullScreen)

map <M-1> <Action>(GoToTab1)
map <M-2> <Action>(GoToTab2)
map <M-3> <Action>(GoToTab3)
map <M-4> <Action>(GoToTab4)
map <M-5> <Action>(GoToTab5)
map <M-6> <Action>(GoToTab6)
map <M-7> <Action>(GoToTab7)
map <M-8> <Action>(GoToTab8)
map <M-9> <Action>(GoToTab9)

imap <C-j> <Action>(EditorDown)
imap <C-k> <Action>(EditorUp)
imap <C-s> <Esc><Action>(SaveAll)
imap <M-p> <C-r>"
imap <M-l> <Right>
imap <M-h> <Left>

" vim-surround
xmap s <Plug>VSurround
xmap S <Plug>VgSurround
nmap s ys
nmap S ys$

" commentary
nmap cm gcc
nmap <leader>c gc
xmap <leader>c gc

" vim-exchange
nmap sx  <Plug>(Exchange)
xmap X   <Plug>(Exchange)
nmap sxc <Plug>(ExchangeClear)
nmap sxx <Plug>(ExchangeLine)

" highlightedyank
let g:highlightedyank_highlight_duration = '150'

" vim-quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#e06c75'
let g:qs_secondary_color = '#d19a66'

" NERDTree
nmap <leader><leader>` :NERDTreeToggle<CR>
nmap <leader>`         :NERDTreeFocus<CR>
nmap <leader>~         :NERDTreeFind<CR>
" let g:NERDTreeMapQuit = '<Esc>'
let g:NERDTreeMapActivateNode = 'l'
let g:NERDTreeMapCloseDir = 'h'
let g:NERDTreeMapToggleZoom = 'F'
let g:NERDTreeMapOpenVSplit = '<C-v>'
