" Plugins
set surround
set commentary
set argtextobj
set textobj-entire
set highlightedyank
set textobj-indent
set matchit
set quickscope

" Options
set showmode
set scrolloff=10
set number relativenumber
set smartcase
set incsearch

" Mappings
let mapleader = "\<Space>"
nmap cy "+y
nmap cY "+Y
xmap Y  "+Y
nmap cp "+p
nmap cP "+P
nmap <C-j> o<Esc>
map! <M-j> <Down>
map! <M-k> <Up>
map <C-w><C-v> <C-w>v
map <C-w><C-c> <C-w>c
map <C-w><C-c> <C-w>c

" JetBrains specific
map <leader>dc <Action>(Debug)
map <leader>dq <Action>(Stop)
map ]e         <Action>(GotoNextError)
map ]e         <Action>(GotoPrevError)

" vim-surround
xmap s <Plug>VSurround
xmap S <Plug>VgSurround
nmap s ys
nmap S ys$

" commentary
nmap cm gcc
nmap <leader>c gc

" vim-exchange
nmap sx  <Plug>(Exchange)
xmap X   <Plug>(Exchange)
nmap sxc <Plug>(ExchangeClear)
nmap sxx <Plug>(ExchangeLine)

" highlightedyank
let g:highlightedyank_highlight_duration = '150'

" vim-quickscope
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_primary_color = '#e06c75'
let g:qs_secondary_color = '#d19a66'
