# Movement
move_down   j
move_up     k
move_left   l
move_right  h
screen_down d
screen_up   u

move_visual_mark_up   k
move_visual_mark_down j

next_page <C-j>
previous_page <C-k>

# Goto left-/rightmost side of the page
goto_left 0
goto_right $

fit_to_page_width s
toggle_statusbar  <C-l>

# Open table of contents
goto_toc <space>

close_window <C-q>
open_link    <C-o>
reload       <C-r>
