# Movement
move_up     k
move_down   j
move_left   l
move_right  h
screen_up   u
screen_up   <C-u>
screen_down d
screen_down <C-d>

move_visual_mark_up   k
move_visual_mark_down j

next_page <C-j>
previous_page <C-k>
prev_state <C-o>
next_state <C-i>

# Goto left-/rightmost side of the page
goto_left 0
goto_right $

# Open hover window for different part of the document
keyboard_overview gh
copy y

fit_to_page_width s
toggle_statusbar  <C-l>

# Open table of contents
goto_toc <space>

close_window <C-q>
close_window q
new_window   <C-n>
reload       <C-r>

toggle_custom_color D
